
#mapid {
        border: gray 5px ridge;
      }
	  
/* fondo main*/
body{
	background: gray;
}

/* fondo nombre itulo visor*/
header{
	background:black;
	padding: 8px 0;
}

/* formato logo uv*/
header .logo{
	width: 40px;
}

.pregunta{
	margin-top:2%;
	text-align: center;
	font-size: 30px;
	font-family: Cambria;
	background: black;
	border-radius: 10px;
	color: white;
	vertical-align: middle
}


/* estilos main */
main{
	margin-bottom: 30px;
}

/* estilo de pagina */
footer{
	background:#0A1169;
	color: white;
	font-size: 18px;
	height: 70px;
}

.nombres{
	padding: 20px 0px 0px 20px;
	text-align: center;
	font-family: Cambria;
}

