<!DOCTYPE html>
<html lang="es">
  <head>
    <!--Linea de codigo meta viewport para que funcione el diseño adaptable-->
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />

    <!--linea de codigo para los estilos de bootstrap via web-->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='lib/bootstrap/bootstrap.min.js')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='src/css/style.css')}}"
    />

    <title>Ofertas inmobiliarias</title>

    <!-- Estilos Leaflet -->
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='lib/leaflet/leaflet.css')}}"
    />
    <script src="{{url_for('static', filename='lib/leaflet/leaflet.js')}}"></script>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='lib/leaflet-groupedlayercontrol/leaflet.groupedlayercontrol.min.css')}}"
    />
    <script src="{{url_for('static', filename='lib/leaflet-groupedlayercontrol/leaflet.groupedlayercontrol.min.js')}}"></script>
  </head>

  <body>
    <!--Encabezado-->
    <header>
      <div class="container">
        <div class="row align-items-center">
          <div class="col logo">
            <img
              class="logo"
              src="{{url_for('static', filename='public/img/UV.png')}}"
            />
          </div>
        </div>
      </div>
    </header>

    <!--Contenido Principal-->
    <main>
      <div class="container align-items-center">
        <div class="row">
          <div class="col">
            <p class="pregunta">VISOR OFERTAS INMOBILIARIAS EN CALI</p>
          </div>
        </div>
      </div>
    </main>

    <div class="row">
      <div class="col">
        <div id="mapid" style="width: 100%; height: 600px"></div>
        <!-- Definición del mapa -->
        <script
          type="text/javascript"
          src="{{url_for('static', filename='src/js/mapa.js')}}"
        ></script>
      </div>
    </div>

    <!--Pie de pagina-->
    <footer class="content">
      <div class="row align-items-center">
        <div class="col nombres">
          Jorge William Ocampo
          <br />
          Andrés Estacio Cumbe
        </div>
      </div>
    </footer>

    <a href="{{url_for('logout')}}">Cerrar sesión</a>

    <!--Librerias-->
    <!--linea de codigo para agregar las librerias de jquery y de bootstrap, y de popper que es la ultima linea-->
    <script src="{{url_for('static', filename='lib/jquery/jquery-3.5.0.min.js')}}"></script>
    <!-- <script src="js/popper.min.js"></script> esta es otra libreria para tooltips que usa no la voy a usar ahora, se debe conservar este orden-->
    <script src="{{url_for('static', filename='lib/bootstrap/bootstrap.min.js')}}"></script>
  </body>
</html>
